body,
html {
    height: 100%;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

body {
    padding-top: 0 !important;
}

section {
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

.chat-wrapper {
    /*padding-top: 44px;*/
    background: #f8f8f8;
    position: relative;
    display: flex;
    height: 100%;
    min-height: 100%;
    color: #333;
    overflow: hidden;
}

.convo-aside {
    position: relative;
    width: 100%;
    background: #fff;
    overflow-y: hidden;
    margin-left: 0;
    -webkit-transition: margin 0.25s ease;
    transition: margin 0.25s ease;
}

.convo-aside .screen {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 3;
    -webkit-transition: -webkit-transform 0.25s ease;
    transition: transform 0.25s ease;
}

.overlay-open .convo-aside {
    margin-left: -20%;
    -webkit-transition: margin 0.25s ease;
    transition: margin 0.25s ease;
}

.overlay-open .convo-aside .screen {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.convo-aside-inner {
    height: 100%;
}

.convo-profile-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    opacity: 1;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

.convo-profile-list {
    padding-top: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.fl-with-top-menu .convo-profile-list {
    padding-top: 44px;
}

.convo-aside .list-group {
    margin-bottom: 66px;
}

.list-group li {
    position: relative;
    padding: 15px 15px 15px 82px;
    border-bottom: 1px solid #f4f4f4;
    min-height: 83px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    cursor: pointer;
}

.list-group li .convo-user-avatar {
    position: absolute;
    left: 15px;
    top: 50%;
    margin-top: -26px;
    width: 52px;
    height: 52px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 52px;
    overflow: hidden;
    background-color: #f3f3f3;
}

.list-group li .convo-user-avatar .image-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    z-index: 2;
}

.list-group li .convo-user-avatar .fa {
    position: absolute;
    top: 0;
    width: 50px;
    font-size: 30px;
    text-align: center;
    line-height: 50px;
    height: 50px;
    z-index: 0;
    opacity: 0.3;
}

.list-group li .title-holder {
    display: flex;
}

.list-group li .title-holder .user-name {
    flex: 1;
    margin: 0 15px 5px 0;
    font-size: 1em;
    word-wrap: break-word;
    word-break: break-word;
}

.list-group li .title-holder .user-name p {
    margin: 0;
}

.list-group li.new .title-holder .user-name p {
    font-weight: bold;
}

.list-group li .title-holder .convo-timestamp {
    opacity: 0.5;
    font-size: 0.8em;
}

.list-group li .convo-preview p {
    opacity: 0.8;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    margin: 0;
    font-size: 0.9em;
}

.list-group li.new .convo-preview p {
    font-weight: bold;
}
/* RIGHT SIDE */
.msg-area {
    overflow: hidden;
    top: 0;
    right: -100%;
    bottom: 0;
    left: 100%;
    position: absolute;
    z-index: 11;
    background: #f8f8f8;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.overlay-open .msg-area {
    left: 0;
    right: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.msg-holder {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.msg-area .profile-header {
    position: absolute;
    height: 44px;
    line-height: 44px;
    top: 0;
    left: 0;
    right: 0;
    font-size: 1.14em;
    text-align: center;
    background: rgba(252, 252, 252, 0.85);
    border-bottom: 1px solid #ebebeb;
    z-index: 5;
    display: flex;
    justify-content: center;
}

.fl-with-top-menu .msg-area .profile-header {
    top: 0;
}

.msg-area .profile-header .back-btn {
    display: block;
    position: absolute;
    left: 0;
    width: 44px;
    cursor: pointer;
}

.msg-area .profile-header [data-user-profile] {
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.msg-area .profile-header .msg-user-avatar {
    position: relative;
    margin-top: 6px;
    margin-right: 10px;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    overflow: hidden;
    background-color: #f3f3f3;
}

.profile-header .msg-user-avatar .image-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    z-index: 2;
}

.profile-header .msg-user-avatar .fa {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
    height: 30px;
    z-index: 0;
    opacity: 0.3;
}

.msg-chats {
    padding: 0 15px 30px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    text-align: center;
    height: -webkit-calc(100% - 56px);
    height: calc(100% - 56px);
}

.fl-with-top-menu .msg-chats {
    padding: 44px 15px 30px;
}

.chat-wrapper.offline .msg-chats {
    padding: 72px 15px 30px;
}

.fl-with-top-menu .chat-wrapper.offline .msg-chats {
    padding: 72px 15px 30px;
}

.chats {
    text-align: left;
}

.chats .chat {
    position: relative;
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}

.chat .chat-body {
    position: relative;
    max-width: 100%;
    float: right;
    padding: 15px 41px 15px 15px;
    margin-right: 26px;
    background-color: #337ab7;
    border: 1px solid #337ab7;
    color: #ffffff;
}

.chat .chat-body a {
    color: #ffffff;
    text-decoration: underline;
}

.chat .chat-body.selected {
    background-color: #285f8f;
}

.chat .chat-body .user-avatar {
    position: absolute;
    right: -26px;
    top: 50%;
    margin-top: -26px;
    width: 52px;
    height: 52px;
    border: 1px solid rgba(51, 51, 51, 0.2);
    border-radius: 52px;
    overflow: hidden;
    background-color: #f3f3f3;
}

.chat .chat-body .user-avatar .image-holder {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 52px;
    z-index: 2;
}

.chat .chat-body .user-avatar .fa {
    position: absolute;
    top: 0;
    width: 50px;
    font-size: 38px;
    text-align: center;
    line-height: 50px;
    height: 50px;
    z-index: 0;
    opacity: 0.3;
    color: #333333;
}

.chat .chat-body .chat-text {
    cursor: pointer;
}

.chat .chat-body .chat-text p {
    margin: 0;
    word-break: break-word;
}

.chats .chat.chat-left {
    justify-content: flex-start;
}

.chats .chat.chat-left .chat-body {
    float: left;
    padding: 15px 15px 15px 41px;
    margin-right: 0;
    margin-left: 26px;
    background-color: #FFFFFF;
    border: 1px solid #ebebeb;
    color: #333;
}

.chats .chat.chat-left .chat-body a {
    color: #333;
    text-decoration: underline;
}

.chat .chat-body .msg-time {
    position: absolute;
    bottom: -18px;
    left: -1px;
    color: #333;
    opacity: 0.35;
    font-size: 0.8em;
}

.chat.chat-left .chat-body .msg-time {
    position: absolute;
    bottom: -18px;
    left: auto;
    right: -1px;
    color: #333;
    opacity: 0.35;
    font-size: 0.8em;
}

.chat.chat-left .chat-body .user-avatar {
    left: -26px;
}

.chat .chat-body .tooltip-inner {
    padding: 6px 12px;
}

.input-holder {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    padding: 10px 15px;
    background-color: #f2f2f2;
    display: flex;
}

.input-holder.sending textarea {
    pointer-events: none;
}

.input-holder .error-send {
    position: absolute;
    top: -26px;
    left: 0;
    right: 0;
    height: 26px;
    font-size: 0.9em;
    line-height: 26px;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    background-color: #FF5722;
    color: #ffffff;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

.input-holder.error .error-send {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

.input-holder .sending-to {
    position: absolute;
    top: -25px;
    left: 0;
    right: 0;
    background-color: rgba(216, 216, 216, 0.6);
    padding: 5px 15px;
    font-size: 0.8em;
    color: #888;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.input-holder.focus .sending-to {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}
@-moz-keyframes fillIn {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}
@-webkit-keyframes fillIn {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}
@keyframes fillIn {
    0% {
        width: 0;
    }

    100% {
        width: 80%;
    }
}

.input-holder .message-input {
    position: relative;
    flex: 1;
}

.input-holder .message-input textarea {
    resize: none;
    max-height: 155px;
    height: 34px;
    word-wrap: break-word;
    overflow: auto;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #ebebeb;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input-holder .message-input textarea:focus {
    border-color: #337ab7;
}

.input-holder .message-input-btn {
    flex: 0;
    background-color: #337ab7;
    border-color: transparent;
    border-radius: 0;
    outline: none !important;
    height: 34px;
    margin-left: 15px;
    -webkit-flex-grow: 0.2;
    flex-grow: 0.2;
    -webkit-transition: -webkit-flex-grow 100ms ease;
    transition: flex-grow 100ms ease;
    font-size: 14px;
    line-height: 14px;
}

.input-holder .message-input-btn.sending {
    -webkit-flex-grow: 0.06;
    flex-grow: 0.06;
    pointer-events: none;
}

.input-holder .message-input-btn:active:focus,
.input-holder .message-input-btn:active:hover,
.input-holder .message-input-btn:focus,
.input-holder .message-input-btn:hover {
    background-color: #337ab7;
    border-color: transparent;
}

.input-holder .message-input-btn .loader {
    display: none;
}

.input-holder .message-input-btn.sending .loader {
    display: block;
}

.input-holder .message-input-btn.sending span {
    display: none;
}

.input-holder .message-input-btn.sending .loader .fa {
    -webkit-animation: spin 0.8s linear infinite;
    -moz-animation: spin 0.8s linear infinite;
    animation: spin 0.8s linear infinite;
}
@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.msg-chats .load-more {
    display: none;
    background: transparent;
    color: #666;
    border-radius: 25px;
    margin: 30px 0 0;
    outline: none;
    outline-offset: 0;
}

.show-load-more .msg-chats .load-more {
    display: inline-block;
}

.msg-chats .load-more:active:focus,
.msg-chats .load-more:focus {
    outline: none;
    outline-offset: 0;
}

.chats .chat.chat-divider {
    justify-content: center;
    color: #333;
    opacity: 0.35;
}

.chats .chat + .chat.chat-divider {
    margin-top: 20px;
}

.chat.chat-divider + .chat {
    margin-top: 20px;
}

.chats .chat.chat-divider .timestamp {
    font-size: 0.8em;
    padding: 2px 6px;
    background-color: rgba(51, 51, 51, 0.16);
    border-radius: 25px;
}
@media screen and (min-width: 640px) {
    body {
        padding-top: 55px;
    }

    .convo-aside {
        width: 33.333%;
        border-right: 1px solid #e4eaec;
    }

    .msg-area {
        position: relative;
        width: 66.667%;
        flex: 1;
        left: 0;
        z-index: 9;
    }

    .overlay-open .convo-aside {
        margin-left: 0;
    }

    .overlay-open .convo-aside .screen {
        opacity: 0;
        visibility: hidden;
    }

    .chat .chat-body {
        max-width: 80%;
    }

    .list-group li.active {
        padding: 15px 13px 15px 82px;
        border-right: 2px solid #337ab7;
        background-color: rgba(51, 122, 183, 0.06);
    }

    .list-group li .title-holder .user-name {
        font-size: 1.1em;
        margin: 0 15px 8px 0;
    }

    .list-group li .convo-preview p {
        font-size: 1em;
    }

    .fl-with-top-menu .msg-area .profile-header {
        top: 55px;
    }

    .msg-area .profile-header .back-btn {
        display: none;
    }
}

.empty-area,
.error-area,
.loading-area {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    text-align: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    font-size: 0.9em;
    opacity: 0;
    visibility: hidden;
    pointer-events: all;
    z-index: 1;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

.empty .empty-area,
.error .error-area,
.loading .loading-area {
    opacity: 0.5;
    visibility: visible;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

.error.empty .empty-area,
.error.loading .empty-area,
.error.loading .loading-area {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

.empty-area h4,
.error-area h4,
.loading-area h4 {
    margin-bottom: 30px;
    line-height: 28px;
}

.empty .convo-profile-container,
.empty .msg-holder,
.error .convo-profile-container,
.error .msg-holder,
.loading .convo-profile-container,
.loading .msg-holder {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
}

.chat-wrapper .contact-directory,
.chat-wrapper .refresh-chat {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 56px;
    line-height: 56px;
    color: #337ab7;
    cursor: pointer;
    background-color: #fff;
    border-top: 1px solid #e4eaec;
    text-align: center;
    font-size: 1.2em;
    z-index: 2;
}

.chat-wrapper.error .contact-directory {
    display: none;
}

.chat-wrapper .refresh-chat {
    display: none;
}

.chat-wrapper.error .refresh-chat {
    display: block;
}

.chat-wrapper .contact-directory:active,
.chat-wrapper .refresh-chat:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
/* COPY POPUP */
.copy-screen {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.copy-screen.ready {
    opacity: 1;
    visibility: visible;
}

.copy-wrapper {
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    max-width: 250px;
    margin: 0 auto;
    background-color: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease 0.2s;
    transition: all 0.3s ease 0.2s;
    z-index: 1;
}

.copy-screen.ready .copy-wrapper {
    opacity: 1;
    visibility: visible;
}

.copy-wrapper .copy-content {
    padding: 20px 15px 118px;
    text-align: center;
}

.copy-wrapper .copy-content .copy-title {
    font-size: 1.2em;
    font-weight: 600;
    padding: 0 0 15px;
    border-bottom: 1px solid #EFEFEF;
}

.copy-wrapper .copy-content img {
    margin-bottom: 10px;
}

.copy-wrapper .copy-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 4px solid #EFEFEF;
    z-index: 2;
}

.copy-wrapper .copy-bottom button {
    border: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    line-height: 54px;
    font-size: 1.2em;
    font-weight: 400;
    background-color: transparent;
    border-bottom: 1px solid #EFEFEF;
    cursor: pointer;
}

.copy-wrapper .copy-bottom button:first-child {
    font-weight: bold;
    color: #337ab7;
}

.copy-wrapper .copy-bottom button:last-child {
    border-bottom: none;
}

.copy-wrapper .copy-bottom button:focus {
    outline-width: 0;
}

.copy-wrapper .copy-bottom button:active {
    background-color: #E6E6E6;
}

.offline-note {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 16px;
    left: 0;
    right: 0;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background: #c13126;
    color: #ffffff;
    font-size: 0.8em;
    z-index: 9;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.chat-wrapper.offline .offline-note {
    opacity: 1;
    visibility: visible;
    top: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.fl-with-top-menu .chat-wrapper.offline .offline-note {
    opacity: 1;
    visibility: visible;
    top: 44px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.chat-wrapper.offline .msg-area .offline-note {
    opacity: 1;
    visibility: visible;
    top: 44px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.fl-with-top-menu .chat-wrapper.offline .msg-area .offline-note {
    opacity: 1;
    visibility: visible;
    top: 44px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.chat-wrapper.offline .message-input-btn {
    pointer-events: none;
    background-color: #d6d6d6;
}

.chat-wrapper.offline .convo-profile-list {
    padding-top: 28px;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.fl-with-top-menu .chat-wrapper.offline .convo-profile-list {
    padding-top: 72px;
}
@media screen and (min-width: 640px) {
    .convo-aside-inner .offline-note {
        display: none;
    }

    .chat-wrapper .offline-note {
        top: 0;
        z-index: 5;
    }

    .fl-with-top-menu .chat-wrapper .msg-area .offline-note,
    .fl-with-top-menu .chat-wrapper .offline-note {
        top: 55px;
    }

    .chat-wrapper.empty .offline-note,
    .chat-wrapper.error .offline-note,
    .chat-wrapper.loading .offline-note {
        top: 0;
    }

    .fl-with-top-menu .chat-wrapper.offline .msg-area .offline-note {
        opacity: 1;
        visibility: visible;
        top: 99px;
        -webkit-transition: all 0.25s ease;
        transition: all 0.25s ease;
    }

    .chat-wrapper.offline.empty .offline-note,
    .chat-wrapper.offline.error .offline-note,
    .chat-wrapper.offline.loading .offline-note {
        top: 0;
    }

    .fl-with-top-menu .chat-wrapper.offline.empty .offline-note,
    .fl-with-top-menu .chat-wrapper.offline.error .offline-note,
    .fl-with-top-menu .chat-wrapper.offline.loading .offline-note {
        top: 55px;
    }

    .msg-chats {
        padding: 44px 15px 30px;
    }

    .chat-wrapper.offline .msg-chats {
        padding: 72px 15px 30px;
    }

    .fl-with-top-menu .msg-chats {
        padding: 99px 15px 30px;
    }

    .fl-with-top-menu .chat-wrapper.offline .msg-chats {
        padding: 127px 15px 30px;
    }

    .convo-profile-list {
        padding-top: 0;
    }

    .fl-with-top-menu .convo-profile-list {
        padding-top: 55px;
    }

    .chat-wrapper.offline .convo-profile-list {
        padding-top: 0;
    }

    .fl-with-top-menu .chat-wrapper.offline .convo-profile-list {
        padding-top: 55px;
    }
}

.tooltip {
    cursor: pointer;
}
