.chat-frame {
  display: flex;
  flex-direction: row;
}

.conversations {
  background: #DDD;
  padding: 20px;
}

[data-conversation] {
  flex: 1;
  background: #EEE;
  padding: 20px;
}

[data-conversation-messages] {
  overflow-y: auto;
  height: 150px;
}