.fl-widget-provider {
  border: 0;
  width: 100%;
  background-color: transparent;
}

#action,
.form-horizontal {
  overflow: hidden;
}

.form-horizontal {
  padding: 15px;
}

#manage-data {
  width: 100%;
  margin-top: 10px;
}

.column-selection {
  display: none;
}