<div class="group-buttons-label">
  <p class="title">Admin only groups</p>
</div>
<div class="group-buttons-holder">
  <div class="btn btn-create-group" data-group="all">All attendees</div>
  <div class="btn btn-create-group" data-group="speakers">Speakers only</div>
  <div class="btn btn-create-group" data-group="admins">Admins only</div>
</div>