<h4>{{ name }}</h4>
<hr />
<ul data-conversation-messages></ul>
<hr />
<form data-new-message>
  <input type="text" placeholder="Write message" data-message-body>
  <input type="submit" class="btn btn-primary" value="Send" />
</form>