<h4>{{ name }}</h4>
<hr />
<ul class="messages"></ul>
<hr />
<form class="new-message">
  <input type="text" placeholder="Write message">
  <input type="submit" class="btn btn-primary" value="Send" />
</form>