<section class="tab-group">
  <label class="tab">
    <input type="radio" name="group-tabs" value="" checked="checked" />
    <span class="control-label">Direct Messages</span>
  </label>
  <label class="tab">
    <input type="radio" name="group-tabs" value="1" />
    <span class="control-label">Public Channels</span>
  </label>
</section>
