<section class="group-tabs-holder">
  <input type="radio" name="group-tabs" checked="checked" id="group-tabs-0" value="" />
  <label for="group-tabs-0">Direct messages</label>
  <input type="radio" name="group-tabs" id="group-tabs-1" value="1" />
  <label for="group-tabs-1">\{{label}}</label>
</section>