<div class="chat {{#if isFromCurrentUser}}chat-right{{else}}chat-left{{/if}}">
  <div class="chat-body">
    <div class="msg-time">{{timeAgo}}</div>
    <div class="user-avatar">
      <div class="image-holder" style="background-image: url({{ Avatar }})"></div>
      <i class="fa fa-user" aria-hidden="true"></i>
    </div>
    <div class="chat-text" data-toggle="tooltip" title="Copy" data-placement="top" data-trigger="manual">
      <p>{{ formatMessage message.body }}</p>
    </div>
  </div>
</div>
