<div class="list-of-contacts hidden">
<h4>New conversation</h4>
<p>Select contacts to start a conversation</p>

<ul class="contacts">
  {{#each contacts}}
    <li>
      <a href="#" data-create-conversation="{{ id }}">{{ fullName }}</a>
    </li>
  {{/each}}
</ul>
</div>
