<div class="contact-image-holder" data-selected-contact-id="\{{ id }}">
  <div class="contact-image-wrapper">
    <div class="contact-profile-image" style="background-image: url('\{{auth data.[Image] }}')"></div>
    <i class="fa fa-user"></i>
    <i class="fa fa-times"></i>
  </div>
  <div class="contact-name-holder">\{{ data.[First Name] }}</div>
</div>